=> changed: D:\reactprojects\portfolioreact\src\components\Containers\ContainerWare.module.sass
div{background-color:cornflowerblue}
=> changed: D:\reactprojects\portfolioreact\src\components\Containers\ContainerWare.module.sass
div{background-color:cornflowerblue;width:1280px}
=> changed: D:\reactprojects\portfolioreact\src\components\Containers\ContainerWare.module.sass
div{background-color:cornflowerblue;width:1280px}
=> changed: D:\reactprojects\portfolioreact\src\components\Containers\ContainerWare.module.sass
div{background-color:cornflowerblue;width:1280px}
=> changed: D:\reactprojects\portfolioreact\src\components\Containers\ContainerWare.module.sass
div{background-color:cornflowerblue;width:1280px}
