html{
  box-sizing: border-box;  /**чтобы padding и border не увеличивали boxs**/
}

*, *::after, *::before{
  box-sizing: inherit;  /**наследуем из html box-sizing**/
}

*{
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #61dafb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}